:root{
    --couleur1: #355070 ;
    --couleur2: #6D597A;
    --couleur3: #B56576;
    --couleur4: #E56B6F;
    --couleur5: #EAAC8B;

}

body{
    margin: 0;
    background-color: var(--couleur5);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.none{
    display: none;
}

.block{
    display: block;
}

#header-section{
    background-color: var(--couleur2);
}
#logo{
    width: 75px;
    height: 75px;
}
main{
    flex-grow: 1;
}

.btn-color{
    background-color: var(--couleur4);
}

.background-connexion{
    background-color: var(--couleur3);
}


.logo-container{
    display: flex;
    margin-bottom: 20px;
    width: 205px;
}

.logo-container span{
    font-size: 45px;
    color: #000;
    text-decoration: none;
    display: block;
}

.logo-container:hover{
    text-decoration: none;
}

.right-nav a{
    text-decoration: none;
    color: #000;
}

footer{
    background-color: var(--couleur2);
}

.list-container{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0;
}

nav ul{
    display: flex;
}
.left-nav{
    list-style: none;
}

.list-card{
    background-color: var(--couleur3);
}

.annonce-h1{
    padding: 60px 0 ;

}
