body{
    margin: 0;
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    overflow: hidden;
}

h1{
    margin-top: 0;
}

.img{
    width: 50vw;
    height: 50vh;
    background: url(../img/1520321750-1513417948-fanta1.png);
}

.tagueule{
    border: 3px solid black;
    border-radius:10px;
    width: 175px;
    position: absolute;
    top: 40%;
    left: 42%;
    font-size: 25px;
    background-color: white;
    color: black;
    z-index: 10;
}

.none{
    display: none;
}

.rouge{
    background-color: red;
    color: blue;
    border: 5px dotted blue;
    width: 50vw;
    position: relative;
}

.nyancat{
    position: absolute;
    z-index: 20;
}

.banane{
    position: absolute;
    top: 30%;
    left: 75%;
    z-index: 15;
}

#text{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    font-size: 20px;

}

#kid{
    position: absolute;
    top: 10%;
    left: 55%;
}

#slap{
    position: absolute;
    top: 51%;
    left: 53%;
}

#cat{
    position: absolute;
    top: 10%;
    left: 0%;
}

#sardoche{
    position: absolute;
    top: 41%;
    left: 81%;
}

#pasta{
    position: absolute;
    top: 6%;
    left: 43%;

}

#pasta img{
    width: 200px;
    height: 200px;
}

#bagarre{
    position: absolute;
    z-index: 50;
    top: 11%;
    left: 37%;
}

#back{
    position: absolute;
    top: 45%;
    left: 34%;
    width: 10px;
    height: 10px;
    z-index: 60;
}
